html,
body {
  padding: 0;
  margin: 0;
  font-family:  -apple-system, 'Gowun Batang', BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: 'Gowun Batang', serif;
}

* {
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, option, select{
  font-family: 'Gowun Batang', serif;
}
p {
  font-size: 18px;
  font-family: 'Gowun Batang', serif;
}

button{
  font-family: 'Gowun Batang', serif;
}
